@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImportData</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.full.min.js"></script>
    <script src="http://oss.sheetjs.com/js-xlsx/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="~/scripts/ImportData.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#dataSurgeons').DataTable({
                "ajax": {
                    "url": "/Home/GetData",
                    "type": "GET",
                    "datatype": "JSON",
                    "dataSrc": function (json) {
                        //Make your callback here.
                        json.data.forEach(function (element) {
                            myDate = new Date(element.exitDate.match(/\d+/)[0] * 1);              
                            element.exitDate = myDate.toUTCString();
                            myDate2 = new Date(element.entryDate.match(/\d+/)[0] * 1);
                            element.entryDate = myDate2.toUTCString();
                        });
                        return json.data;
                    }
                },
                "columns": [
                  
                    { "data": "lastName" },
                    { "data": "firstName" },
                    { "data": "entryDate" },
                    { "data": "exitDate" },
                    { "data": "plannedDuration" },
                    { "data": "status" }
                   
                ],
                "bSort": false
            });

            // Setup - add a text input to each footer cell
            $('#dataSurgeons tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            // DataTable
            var table = $('#dataSurgeons').DataTable();
            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
</head>


<body ng-app="MyApp">
    <div class="container py-4" ng-controller="MyController">
        <h5 class="text-center text-uppercase">How to Import Excel Data into Sql Server Using Angular Js in Mvc5</h5>
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Students Result List</h5>
            </div>
            <div class="card-body">
                <button style="margin-bottom:10px;" type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-file-excel-o"></i> Upload Excel File
                </button>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Upload Students Result</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="file" class="custom-file-input" ng-model="file" onchange="angular.element(this).scope().UploadFile(this.files)" />
                                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" ng-disabled="!SelectedFileForUpload" ng-click="ParseExcelDataAndSave()"><i class="fa fa-upload"></i> Upload</button>
                                        </div>
                                    </div>
                                    <span class="text-success">
                                        {{Message3}}
                                        <br />
                                        {{Message}}
                                        <br />
                                        {{Message2}}
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="dataSurgeons" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Entry Date</th>
                            <th>Exit Date</th>
                            <th>PlannedDuration</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>lastName</th>
                            <th>firstName</th>
                            <th>entryDate</th>
                            <th>exitDate</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
